certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
idna==3.19
Jinja2==3.1.6
MarkupSafe==3.0.3
ply==3.11
pyasn1==0.6.4
pycparser==3.0
pysmi==1.6.3
pysnmp==7.1.29
requests==2.34.2
snmpsim==1.2.2
urllib3==2.7.0
