[Unit]
Description=Run ICCT NMS Syslog retention cleanup daily

[Timer]
OnCalendar=*-*-* 02:20:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
